@font-face {
  font-family: "Minion Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Minion Pro Regular"),
    url("../minion-pro-fonts/MinionPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Minion Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Minion Pro Bold"),
    url("../minion-pro-fonts/MinionPro-Bold.woff") format("woff");
}
/* font-family: "Minion Pro Regular", serif; */
/* font-family: "Minion Pro Bold", serif; */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;

  background-color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../img/logo.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% auto;
}

h1,
p {
  margin: 0;
}

strong {
  white-space: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  object-fit: cover;

  border: solid 1px grey;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #aaaaaa, -6px -6px 12px #ffffff;
}

.section {
  padding-top: 18px;
  padding-bottom: 30px;
}

.text-container {
  margin: auto;
}

.heading {
  font-family: "Minion Pro Regular", serif;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}

.heading-text {
  display: block;
  margin: auto;
  max-width: 400px;
}

.upper {
  text-transform: uppercase;
}

.name-container {
  display: block;
  width: fit-content;
  margin: auto;
}

.name-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}

.company-name::before {
  content: "«";
}

.company-name::after {
  content: "»";
}

.small-text,
.address {
  padding-bottom: 16px;
  text-align: center;
  font-size: 14px;
}

.address {
  padding-bottom: 24px;
}

.address-li::first-letter {
  text-transform: uppercase;
}

.simple-text {
  font-size: 20px;
}

.list {
  counter-reset: my-counter;
  font-size: 18px;
}

.list-li {
  padding-top: 36px;
  counter-increment: my-counter;
}

.list-li:last-of-type {
  padding-bottom: 36px;
}

.li-text::before {
  content: counter(my-counter) ". ";
}

.li-text {
  padding-bottom: 24px;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  row-gap: 16px;
}
/* Mobile - small */
@media only screen and (max-width: 767.98px) {
  .text-container {
    max-width: 767;
    padding-left: 20px;
    padding-right: 20px;
  }
  .heading {
    font-size: 16px;
  }
  .name-container {
    font-size: 20px;
    letter-spacing: 0.25em;
  }
  .small-text {
    font-size: 14px;
  }
  .address {
    font-size: 16px;
  }
  .address-link {
    font-size: 18px;
  }
  .address-li:first-of-type {
    margin-bottom: 8px;
  }
  .address-li:last-of-type {
    margin-top: 16px;
  }
  .simple-text {
    font-size: 20px;
  }

  .list {
    font-size: 18px;
  }

  .tab-hide {
    display: none;
  }

  .images {
    width: 300px;
    height: auto;
  }
}
/* Mobile - big */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .heading {
    font-size: 24px;
  }
  .name-container {
    font-size: 28px;
    letter-spacing: 0.5em;
  }
  .small-text {
    font-size: 16px;
  }
  .address {
    font-size: 18px;
  }
  .address-link {
    font-size: 20px;
  }
  .simple-text {
    font-size: 22px;
  }

  .list {
    font-size: 20px;
  }
  .images {
    width: 450px;
    height: auto;
  }
}
/* Tab only */
@media only screen and (min-width: 768px) and (max-width: 1023.98px) {
  .tab-hide {
    display: none;
  }

  .images {
    width: 500px;
    height: auto;
  }

  .narrow > .images {
    width: auto;
    height: 420px;
  }
}
/* Tab */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .name-container {
    font-size: 32px;
    letter-spacing: 0.5em;
  }

  .text-container {
    max-width: 680px;
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .img-container {
    gap: 24px;
  }

  .img-container-grid {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .grid-item-1 {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .grid-item-2 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .grid-item-3 {
    grid-column: 2;
    grid-row: 3;
  }
}
@media print {
  .list-li {
    page-break-inside: avoid;
  }
  .img-container-grid {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .grid-item-1 {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .grid-item-2 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .grid-item-3 {
    grid-column: 2;
    grid-row: 3;
  }
  .images {
    width: 300px;
    height: auto;
  }
}
